.navbr { 
  width: 80%;
  display:inline-block;
  top :0;
  
    margin: auto;
    margin-top:1rem;
    margin-left: 4rem;
    #searchbox{
        padding: 1px;
        background-color: inherit;
        border: 2px solid  #ffffff;
        color: whitesmoke;
        border-radius: 5px;
        ::placeholder{
          color:white;
        }
    }
    
    ul {
      padding: 0;
      list-style: none;
    }
    li {
     text-align: center;
      display: inline-block;
      margin-left: 20px;
      border: 2px solid  #9A8A13;
      border-radius: 5px;
      background-color: #d0c7cb;
    }
    a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
      color: #000000; 
    }
     a:hover,a.active {
        background-color: #f3e157;
        text-decoration: none;
        color:#030201 ;}
    #navli5{
      padding: 0px;
        float: right; 
        margin-right: 5rem;
    }
    
  }